/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('menu.css');
@import url('starts.css');
@import url('greeting.css');
@import url('linkToCV.css');

/* variables */
:root{
    /* fonts */
    --font-Grey-Qo: "Grey Qo", cursive;
    --font-Noto-Sans: "Noto Sans", sans-serif;
    --font-Noto-Serif: "Noto Serif", serif;;

    /* colors */
    --white: #fff;
    --color-primary: #674ca1;
    --color-secondary: #26242a;
    --color-line-purple: #635979;
    --color-gray-dark: #141414;
}

/* formatting styles */
html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--color-secondary);
    font-family: var(--font-Noto-Sans);
    scroll-behavior: smooth;
}

hr{
    border: thin solid var(--color-line-purple);
    width: 80%;
}